


.page-wrapper{
    max-width: 1200px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top:50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
}

header{
    background: url(images/rhcp.jpg) no-repeat;
    background-size: 100%;
    display: grid;
    grid-template-columns: 25% 55% 20%;
    grid-column: 1/3;
    grid-row: 1/2;
    margin-bottom: 30px;
    border-radius: 5px;
}

main{
    grid-column: 1/2;
    background-color: beige;
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px 10px;
}

.header-logo{
    display: flex;
    grid-column: 1/2;
    grid-row: 1/4;
}

.header-social{
    grid-column: 3/4;
}

.header-search{
    grid-column: 3/4;
    grid-row: 2/3;
}

.header-nav{
    grid-column: 2/4;
    grid-row:3/4;
    justify-self: end;
    display: flex;
    margin-bottom: 13px;
}

#logo{
    display: flex;
    height: 75%;
    width: 75%;
}

.icon{
    margin: 10px;
    width: 8%;
    height: 8%;
}

.nav-elem{
    font-size: 115%;
    padding: 10px;
    background-color: rgb(204, 204, 255);
    margin-right: 10px;
    display: flex;
    border-radius: 10px;
}

.nav-elem:hover{
    background-color: black;
    color: white;
}

.header-social input[type=text] {
    font-size: 13px;
    border: 1px solid grey;
    width: 80%;
    background: #f1f1f1;
  }
  

.main-card{
    border: solid 1px #dedede;
}

.main-card-photo{
    width: 33%;
    float: left;
    margin: 10px;
    max-width: 100%;
    height: auto;
}

.main-card-date{
    font-size: 75%;
    color: grey;
    
}

aside{
    grid-column: 2/3;
    display: grid;
    margin-left: 18px;
    width: 100%;
    background-color: beige;
    grid-gap: 15px 15px;
    grid-template-columns: 50% 50%;
    border: solid 2px #dedede;
}

.aside-user{
    grid-column: 1/3;
    padding: 10px;
}

.aside-photo{
    width:40%;
    height: 40%
    max-width: 100%;
    height: auto;
}